<form class='candelafvtt'>
    <div class='form-group roll-dialog'>
        <div class='roll-label'>
            <label>{{localize 'CANDELAFVTT.driveBonus'}}</label>
            <div class='description'>{{localize 'CANDELAFVTT.driveBonusDescription'}}</div>
        </div>
        <input type='text' name='drives' value='0' data-dtype='Number' placeholder='0' />
    </div>
    <div class='form-group roll-dialog'>
        <div class='roll-label'>
            <label>{{localize 'CANDELAFVTT.gildedDiceBonus'}}</label>
            <div class='description'>{{localize 'CANDELAFVTT.gildedDiceDescription'}}</div>
        </div>
        <input type='text' name='gildedDice' value='0' data-dtype='Number' placeholder='0' />
    </div>
</form>