.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs, .bio-tabs {
  flex: 0;
}

.sheet-body,
.bio-body,
.sheet-body .tab,
.bio-body .tab {
  height: 100%;
  // margin-top: 8px
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.roll-dialog .roll-label .description {
  font-size: smaller;
}

.actioncategory-value{
  width: 24px;
  text-align: center;
  height: auto;
}

.actions-list{
  margin: 0;
  text-align: center;
  padding: 0;
}


// .prosemirror-editor {
//   min-height: 2rem;
// }

// .editor-container {
//   min-height: 3rem;
//   max-height: 8rem;
// }